<!DOCTYPE html>
<html lang="en">
  <head>
       
    <meta charset="UTF-8" />
       
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
       
    <title>v-for指令</title>
  </head>

  <body>
    <div id="app">
      <ul>
        <li v-for="(team,index) in teams">
                          {{index+1}}-NBA球队：{{team}}            
        </li>
      </ul>
      <input type="button" value="点击添加新晋干员" @click="addRecruit" />
      <input type="button" value="点击删除干员" @click="removeRecruit" />
             
      <h3 v-for="player in players" v-bind:title="player.name">
         姓名：{{player.name}}             位置：{{player.positon}}  
             
      </h3>
    </div>
       
    <!-- 1.开发环境版本，包含了有帮助的命令行警告 -->
       
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          teams: ["篮网队", "湖人队", "勇士队"],
          players: [
            { name: "kd", positon: "SF" },
            { name: "lbj", positon: "SF" },
            { name: "sc", positon: "PG" },
          ],
        },
        methods: {
          addRecruit: function () {
            this.players.push({ name: "新晋干员", positon: "突破位" });
          },
          removeRecruit: function () {
            this.players.shift();
          },
        },
      });
    </script>
  </body>
</html>
